/* ======================================================
   COLOR PALETTE — Light & Dark Modes
====================================================== */

/* Light Mode */
:root {
  --mustard: #D8A72F;
  --plum: #5F274F;
  --rosewood: #A45C68;
  --sand-beige: #E7D6B4;
  --sage-green: #678A7B;

  --submit-button: white;
  --accent-plum: #5F274F;
  --accent-rosewood: #A45C68;
  --accent-sage: #678A7B;
  --accent-mustard: #D8A72F;

  --accent-nav-bg: #EEE2C8;
  --bg: #F8F1E4;
  --panel: #EEE2C8;
  --panel-alt: #E3D6BC;
  --border-subtle: #B2A99A;

  --text-primary: #26221F;
  --text-secondary: #6D645B;
  --text-link: #7B346A;

  --color-header: var(--accent-plum);
  --color-focus: var(--accent-sage);
  --color-alert: var(--accent-rosewood);
  --color-nav-fg: white;

  --font-family: Verdana;
}

/* Dark Mode */
[data-theme="dark"] {
  --accent-plum: #5F274F;
  --accent-rosewood: #CF919A;
  --accent-sage: #6C9689;
  --accent-mustard: #BE922A;

  --accent-nav-bg: white;
  --bg: #141211;
  --panel: #302A29;
  --panel-alt: #3B3433;
  --border-subtle: #7A726D;

  --text-primary: #F4EEE5;
  --text-secondary: #CAC3B8;
  --text-link: #B7649C;

  --color-header: #f7c7cf;
  --color-focus: var(--accent-sage);
  --color-alert: var(--accent-rosewood);
  --font-family: Verdana;
}