<!-- (CritterCave) -->
<!-- HTML template for about page -->

{% extends "base.html" %}

{% block head_stuff %}
<title>"About Page"</title>
{% endblock %}

{% block main_content %}

<h1>About CritterCave</h1>
<p>CritterCave is a platform dedicated to sharing stories about your favorite critters! 
    Whether you have a pet, a wild animal you admire, or even a mythical creature, 
    CritterCave provides a space for you to create and read stories about them.</p>

<h2>About Us</h2>
<p>This site was created by Nina, Ruth, Meg and Kayla.</p>

{% endblock %}