<!-- (CritterCave) -->
<!-- Base HTML template -->

<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    {% block head_stuff %} {% endblock %}
</head>
<body>

<div class="main" id="first_main">
  {% block nav %}
  <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNavall()">&times;</a>
          <a href="{{url_for('index')}}">Home</a>
          <a href="{{url_for('about')}}">About</a>

      </div>

      <div>
          <button class="openbtn" onclick="openNavall()">&#9776; </button>
  </div>

  <div class="topbar">

    <!-- search bar -->
      <form class="search" method="GET" action="/query/">
        <p>
            <label>search: 
              <input type="text" required name="query">
            </label>
            <label>kind:
                  <select required name="kind">
                      <option value="">choose one</option>
                      <option value="person">user</option>
                      <option value="movie">critter</option>
                      <option value="movie">story</option>
                  </select>
          </label>
          <input type="submit" value="search">
        </p>
      </form>
  </div>


{% endblock %}
</div>

<div class="main" id="main">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div id="messages">
    {% for msg in messages %}
    <p>{{msg}}</p>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
              
  {% block main_content %}
  <h1>Welcome!</h1>
  {% endblock %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {% block end_scripts %}
    {% endblock %}
  </div>
    
</body>
</html>
