<!doctype html>
<html lang='en' data-theme="light">
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename = 'favi.png')}}">
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    {% block head_stuff %}
      <title>{{ page_title }}</title>
    {% endblock %}
</head>

<body>

{% block nav %}
<!-- Sidebar -->
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNavall()">&times;</a>
    <a href="{{url_for('index')}}">Home</a>
    <a href="{{url_for('about')}}">About</a>

    <!--If the user is logged in then show their profile, upload critter and logout options-->
    {% if session.get('uid') %}
      <a href="{{url_for('user_profile', uid=session.get('uid'))}}">My Profile</a>
      <a href="{{url_for('critter_upload')}}">Upload a Critter</a>
      <a href="{{url_for('logout')}}">Logout</a>

    <!--If the user is not logged in then show signin and signup options-->
    {% else %}
      <a href="{{url_for('signin')}}">Login</a>
      <a href="{{url_for('signup')}}">Register</a>
    {% endif %}
</div>

<!-- Topbar -->
<div class="topsection" id="first_main">
  <div class="topbar">
      <div>
          <button class="openbtn" onclick="openNavall()">&#9776; </button>
          <a href=" {{ url_for('index') }} "><img src="{{url_for('static', filename = 'favi.png')}}" alt="favi" class="favi"></a>
      </div>
      <form class="search" method="GET" action="{{ url_for('lookup_form') }}">
          <label>search:
              <input type="text" required name="query">
          </label>
          <!-- <label>kind: -->
              <select required name="kind">
                  <option value="user">user</option>
                  <option value="critter">critter</option>
              </select>
          <!-- </label> -->

          <input type="submit" value="search">
      </form>
  </div>
</div>
{% endblock %}

<!-- Flash Messages -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div id="messages">
      {% for msg in messages %}
        <p>*** {{ msg }} ***</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<!-- Main Content -->
<div class="main" id="main">
  {% block main_content %}
    <h1>Welcome!</h1>
  {% endblock %}
</div>

</body>
</html>