<!-- (CritterCave) -->
<!-- HTML template for a critter lookup result page -->
{% extends "base.html" %}   

{% block head_stuff %}
<title>"Create Critter"</title>
{% endblock %}

{% block main_content %}   

<div class="settings">
    <section class="settings-block">
        <h1>Draw your critter!</h1>
        <p class="block-subtitle">Draw and your critter using the software below.</p>
        <p class="block-subtitle">Save the photo and use for <a href="{{ url_for('critter_upload') }}">upload critter</a>.</p>
        <iframe 
            src="https://www.pixilart.com/draw" 
            width="800" 
            height="600" 
            title="Pixel Art Creator"
            >
            </iframe>
    </section>
</div>

{% endblock %}