{% extends "base.html" %}

{% block main_content %}
<h1>Upload your critter!</h1>

<form method="post" action="" enctype="multipart/form-data">
    <fieldset>
        <table>
            <tr><td><label for="critter-pic">Critter:</label></td>
                <td><input id="critter-pic" type="file" name="critter-pic"</td></tr>
            <tr><td><label for="critter-name">Story:</label></td>
                <td><input id="critter-name" type="text" name="critter-name"
                    placeholder="Ratatiouue"></td></tr>
            <tr><td><label for="critter-desc">Description:</label></td>
                <td><input id="critter-desc" type="text" name="critter-desc"
                    placeholder="A grey, French rat wearing a chef hat"></td></tr>
        </table>
        <p> <input type='submit' value='Upload Critter'> </p>
    </fieldset>
</form>

{% endblock %}