<!-- (CritterCave) -->
<!-- HTML template for main page -->

{% extends "base.html" %}

{% block main_content %}
<h1>Main</h1>

<p>Welcome to our app. This is the main page</p>

<h2>Users</h2>
<p><a href="{{ url_for('critter_upload') }}">Upload a Critter</a></p>
<p><a href="{{ url_for('user_profile', uid=1) }}">Nina's profile</a></p>
<p><a href="{{ url_for('user_profile', uid=3) }}">Ruth's profile</a></p>
<p><a href="{{ url_for('signup') }}">Test sign up</a></p>
<p><a href="{{ url_for('signin') }}">Test sign in</a></p>

<h2>Critters</h2>
<p><a href="{{ url_for('critter_page', cid=2) }}">Critter Tommy</a></p>
<p><a href="{{ url_for('critter_page', cid=3) }}">Critter Sam</a></p>

<h2>Upload Forms</h2>
<p><a href="{{ url_for('critter_upload') }}">Critter Upload</a></p>
<p><a href="{{ url_for('story_upload', cid=2) }}">Story Upload for Critter 2 (Tommy)</a></p>

{% endblock %}
