<!-- (CritterCave) -->
<!-- Main feed for CritterCave -->

{% extends "base.html" %}

{% block head_stuff %}
<title>CritterCave</title>
{% endblock %}

{% block main_content %}

<!-- sort home page form -->
<div class="topsection" id="first_main">
    <div class="sort-search">
        <form class="search" method="GET" action="{{ url_for('index_sorted') }}">
            <label>sort by:
                <select required name="value">
                    <option value="name">critter name</option>
                    <option value="username">creator username</option>
                    <option value="created">date created</option>
                    <option value="like_count">like count</option>
                </select>
            </label>
            <select required name="sort">
                <option value="ascending">ascending</option>
                <option value="descending">descending</option>
            </select>
            <input type="submit" value="apply">
        </form>
    </div>
</div>

<section class="main-header">
    <h1>CritterCave</h1>
    <p>A cozy home for cataloging creatures big and small</p>
</section>

{% for critter in critters %}
    <div class="critter-page">
        <!-- Critter Header Card -->
        <section class="critter-header-card">
            <div class="critter-info-left">
                {% if critter.imagepath %}
                <img src="{{ url_for('uploaded_file', filename=critter.imagepath) }}"
                    alt="Critter Image" class="critter-profile-img">
                {% endif %}
            </div>

            <div class="critter-info-right">
                <h1 class="critter-name"><a href=" {{ url_for('critter_page', cid=critter.cid) }}"> {{ critter.name }} </a></h1>
                <p class="critter-maker">
                    <h4>Made by:
                    <a href="{{ url_for('user_profile', uid=critter.uid) }}">
                        {{ critter.username }}
                    </a>
                    </h4>
                    <h4>{{ critter.created.strftime('%m/%d/%Y') }}</h4>
                </p>

                <p class="critter-description">
                    {{ critter.description }}
                </p>

                <a href="{{ url_for('story_upload', cid=critter.cid) }}"
                class="button-primary write-story-btn">
                Write a Story About {{ critter.name }}
                </a>
                
                
                <div class="like-btn-container-home">
                    <button value="like"
                            type="button"
                            class="home-like" 
                            data-cid="{{ critter.cid }}"
                            data-url="{{ url_for('like_feature_critter', cid=critter.cid) }}"
                            aria-label="Like this critter">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                        </svg>

                        <div class="like-count-display-story">
                            <span class="like-count">{{ critter.like_count }}</span> 
                        </div>
                    </button>
                </div>
                
            </div>
        </section>
    </div>
{% endfor %}

{% endblock %}
