<!-- (CritterCave) -->
<!-- HTML template for a user's profile page -->

{% extends "base.html" %}

{% block head_stuff %}
<title>"Profile Page: Displays a user's information and all 
    the critters they created."</title>
{% endblock %}

{% block main_content %}

    <div class=".profile-settings-wrapper">
        <a href="{{ url_for('settings_page', uid=user.uid) }}" class="button-primary profile-settings-button">Settings</a>
    </div>

    <div  id="main" class="main">

        <!-- Profile Header Card -->
        <section class="critter-header-card">
            <div class="critter-info-left">
                {% if user.profilepic %}
                <img src="{{  url_for('uploaded_file', filename=user.profilepic) }}"
                    alt="Profile Picture" class="critter-profile-img">
                {% endif %}
            </div>

            <div class="critter-info-right">
                <h1 class="critter-name">{{ user.name }}</h1>
                <h4>@{{ user.username }}</h4>
                <a href="{{ url_for('critter_upload') }}"
                class="button-primary write-story-btn">
                Create a new critter
                </a>
            </div>
        </section>

        <h2>Critters:</h2>
        <div class="critter-grid">
            {% for critter in critters %}
            <a href="{{ url_for('critter_page', cid=critter.cid) }}" class="critter-card">
                <img src="{{ url_for('uploaded_file', filename=critter.imagepath) }}"
                    alt="{{ critter.name }}">
                <p>{{ critter.name }}</p>
            </a>
            {% endfor %}
        </div>

    <a href="{{ url_for('critter_upload', uid=user.uid) }}" class="button-primary">
    Add another critter!</a>
    <p>Currently this only adds critters for Nina, 
        but this will be updated in Alpha to add critters for the user
        saved in the session.</p>


    </div>
{% endblock %}