<!-- (CritterCave) -->
<!-- HTML template for a user's profile page -->

{% extends "base.html" %}

{% block head_stuff %}
<title>"Profile Page: Displays a user's information and all 
    the critters they created."</title>
{% endblock %}

{% block main_content %}

    <div class="profile-settings-wrapper">
        <a href="{{ url_for('settings_page', uid=user.uid) }}" class="button-primary profile-settings-button">Settings</a>
    </div>

    <div  id="main" class="main">
        <!-- Profile Header Card -->
        <section class="critter-header-card">
            <div class="critter-info-left">
                {% if user.profilepic %}
                <img src="{{  url_for('uploaded_file', filename=user.profilepic) }}"
                    alt="Profile Picture" class="critter-profile-img">
                {% endif %}
            </div>

            <div class="critter-info-right">
                <h1 class="critter-name">{{ user.name }}</h1>
                <h4>@{{ user.username }}</h4>
                <h4>{{ user.created }}</h4>
                <a href="{{ url_for('critter_upload') }}"
                class="button-primary write-story-btn">
                Create a new critter
                </a>
            </div>
        </section>

        <h2>Critters:</h2>
        {% if critters %}
            <div class="critter-grid">
            {% for critter in critters %}
                <a href="{{ url_for('critter_page', cid=critter['cid']) }}" class="critter-card">
                    <img src="{{ url_for('uploaded_file', filename=critter['imagepath']) }}"
                        alt="{{ critter['name'] }}">
                    <p>{{ critter['name'] }}</p>
                </a>
            {% else %}
                <p>{{ user.name }} hasn't uploaded any critters.</p>
            {% endfor %}
        </div>
        {% else %}
            <p>No critters uploaded.</p>
        {% endif %}

        <h2>Stories:</h2>
        {% if stories %}
            <section class="stories-section">
            <div class="story-group">
            <div class="story-card-grid">
                {% for story in stories %}
                    <a href="{{ url_for('story_page', sid=story.sid, cid=story.critter_info.cid) }}" class="story-card pastel-box story-card-link">
                        <span class="story-author-tag">For {{ story.critter_info.name }}</span>
                        <p>{{ story.critter_story }}</p>
                    </a>
                {% else %}
                    <p>{{ user.name }} hasn't written any stories.</p>
                {% endfor %}
            </div>
            </div>
            </section>
        {% else %}
            <p>No stories written.</p>
        {% endif %}
    </div>
{% endblock %}