<!-- (CritterCave) -->
<!-- HTML template for the settings page -->

{% extends "base.html" %}
{% block main_content %}
    <div class="settings">
    <h1>Settings</h1>

    <!-- Block: Profile Photo -->
    <section class="settings-block">
        <h2>Change Profile Picture</h2>
        <p class="block-subtitle">This image will be displayed on your profile</p>
        <form method="post" action="" enctype="multipart/form-data">
            <p><label for="profile-pic"><strong>New Profile Picture:</strong></label><br>
                <input id="profile-pic" type="file" name="profile-pic"></p>
            <p><input type="submit" value="Update Profile Picture"></p>
        </form>
    </section>

    <!-- Block: Personal Info -->
     <section class="settings-block">
        <h2>Update Profile Information</h2>
        <p class="block-subtitle">Update your profile details here.</p>
        <form method="post" action="">
            <p><label for="name"><strong>Name:</strong></label><br>
                <input id="display-name" type="text" name="display-name"
                    placeholder="{{ curr_user_info.name }}"></p>

            <p><label for="username"><strong>Username:</strong></label><br>
                <input id="username" type="text" name="username"
                    placeholder="{{ curr_user_info.username }}"></p>

            <p><label for="password"><strong>Password:</strong></label></p><br>
                <input id="password" type="password" name="password"
                    placeholder="{{ curr_user_info.password }}"></p>
            <p><input type="submit" value="Update Profile Info"></p>
        </form>
    </section>

    <!-- Block: Appearance -->
     <section class="settings-block">
        <h2>Update Appearance</h2>
        <p class="block-subtitle">Update the site's appearance to darkmode or lightmode here.</p>
        <form method="post" action="">
            <p>
                <label for="appearance"><strong>Choose Appearance:</strong></label><br>
                <select id="appearance" name="appearance">
                    <option value="lightmode">Light Mode</option>
                    <option value="darkmode">Dark Mode</option>
                </select>
            </p>
            <p><input type="submit" value="Update Appearance"></p>
        </form>
    </section>

{% endblock %}