<!-- (CritterCave) -->
<!-- Allows user to configure their profile -->

{% extends "base.html" %}

{% block head_stuff %}
<title>Settings</title>
{% endblock %}

{% block main_content %}
    <div class="settings">
    <h1>Settings</h1>

    <!-- Block: Profile Photo -->
    <section class="settings-block">
        <h2>Change Profile Picture</h2>
        <p class="block-subtitle">This image will be displayed on your profile</p>
        <form method="post" action="{{ url_for('settings_page') }}" enctype="multipart/form-data">
            <p><label for="profile-pic"><strong>New Profile Picture:</strong></label><br>
                <input id="profile-pic" type="file" name="profile-pic"></p>
            <p><input type="submit" name="action" value="Update Profile Picture"></p>
        </form>
    </section>

    <!-- Block: Personal Info -->
     <section class="settings-block">
        <h2>Update Profile Information</h2>
        <p class="block-subtitle">Update your profile details here.</p>
        <form method="post" action="{{ url_for('settings_page') }}">
            <p><label for="display-name"><strong>Name:</strong></label><br>
                <input id="display-name" type="text" name="display-name"
                    value="{{ curr_user_info.name }}"></p>

            <p><label for="username"><strong>Username:</strong></label><br>
                <input id="username" type="text" name="username"
                    value="{{ curr_user_info.username }}"></p>

            <p><input type="submit" name="action" value="Update Profile Info"></p>
        </form>
    </section>

    <!-- Block: Password -->
     <section class="settings-block">
        <h2>Update Password</h2>
        <p class="block-subtitle">Change your password here.</p>
        <form method="post" action="{{ url_for('settings_page') }}">
            <p><label for="old_pw"><strong>Old Password:</strong></label></p>
                <input id="old_pw" type="password" name="old_pw"></p> 
            <p><label for="new_pw1"><strong>New Password:</strong></label></p>
                <input id="new_pw1" type="password" name="new_pw1"></p>
            <p><label for="new_pw2"><strong>Confirm new password:</strong></label></p>
                <input id="new_pw2" type="password" name="new_pw2"></p>
            <p><input type="submit" name="action" value="Update Password"></p>
        </form>
    </section>

    <!-- Block: Appearance -->
     <section class="settings-block">
        <h2>Update Appearance</h2>
        <p class="block-subtitle">Update the site's appearance to darkmode or lightmode here.</p>
        <form method="post" action="{{ url_for('settings_page') }}">
            <p>
                <label for="appearance"><strong>Choose Appearance:</strong></label><br>
                <select id="appearance" name="appearance">
                    <option value="lightmode">Light Mode</option>
                    <option value="darkmode">Dark Mode</option>
                </select>
            </p>
            <p><input type="submit" name="action" value="Update Appearance"></p>
        </form>
    </section>

{% endblock %}