<!-- (CritterCave) -->
<!-- Sign-in page for CritterCave -->

{% extends "base.html" %}   

{% block head_stuff %}
<title>Sign In</title>
{% endblock %}
    
{% block main_content %}
<div>
    <button class="openbtn" onclick="openNav()">&#9776; </button>
</div>

<div class="main" id="main" >

    <div class="log_container">

        <h1>Sign In</h1>
        <h3>Welcome back to Critter Cave!</h3>
        <h3>Sign in below.</h3>
        
        <form class="sign_up_form" method=POST action="{{ url_for('signin') }}">
            <table>
                <tr>
                    <td><label for="username">Username</label></td>
                    <td><input type="username" id="username" name='username' value=""></td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td><input type="password" id="password" name='password' value=""></td>
                </tr>
            </table>
            
            <input type="submit" name="submit" value="Sign in" class="submit_button">
        </form>
        </div>
</div>
{% endblock %}