<!-- (CritterCave) -->
<!-- Sign-up page for CritterCave -->

{% extends "base.html" %}   

{% block head_stuff %}
<title>Sign Up</title>
{% endblock %}

{% block main_content %}
<div>
    <button class="openbtn" onclick="openNav()">&#9776; </button>
</div>

<div class="main" id="main" >

    <div class="log_container">
        
        <h1>Sign Up</h1>

        <h2>Welcome to Critter Cave!</h3>
        <h2>Sign up below.</h3> 

        <form class="sign_up_form" method=POST action="{{ url_for('signup') }}">
            <table>
                <tr>
                    <td><label for="name">Name</label></td>
                    <td><input type="name" id="name" name='name' value=""></td> 
                </tr>
                <tr>
                    <td><label for="username">Username</label></td>
                    <td><input type="username" id="username" name='username' value=""></td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td><input type="password" id="password" name='password' value=""></td>
                </tr>
            </table>
                
            <input type="submit" name="submit" value="Sign up" class="submit_button">
        </form>

    </div>
</div>
{% endblock %}


