{% extends "base.html" %}
{% block main_content %}

<div class="settings">
    <h1>Write This Critter's Epic Tale</h1>

    <form method="post" action="">

        <!-- Block: Story Writing -->
        <section class="settings-block">
            <h2>Story Details</h2>
            <p class="block-subtitle">Craft a tale worthy of your critter.</p>

            <p>
                <label for="critter-story"><strong>Your story begins here:</strong></label><br>
                <textarea id="critter-story" name="critter-story" rows="5" cols="50"
                    placeholder="It was a dark and stormy night..."></textarea>
            </p>
        </section>

        <p><input type="submit" value="Submit Your Story"></p>
    </form>

</div>

{% endblock %}