<!-- (CritterCave) -->
<!-- Displays the results of a user's seach for a critter -->

{% extends "base.html" %}  

{% block head_stuff %}
<title>Story Search Results</title>
{% endblock %}

{% block main_content %}      

<!-- sort search results form -->
<div class="topsection" id="first_main">
    <div class="sort-search">
        <form class="search" method="GET" action="{{ url_for('sort_story_results', query=query) }}">
            <label>sort by:
                <select required name="value">
                    <option value="name">critter name</option>
                    <option value="username">creator username</option>
                    <option value="created">date created</option>
                    <option value="like_count">like count</option>
                </select>
            </label>
            <select required name="sort">
                <option value="ascending">ascending</option>
                <option value="descending">descending</option>
            </select>
            <input type="submit" value="apply">
        </form>
    </div>
</div>

<div class="critter-page">

{% for s in stories %}
    
<!-- Critter Header Card -->
<section class="critter-header-card">

    <div class="critter-info-left">
        {% if s['imagepath'] %}
        <img src="{{ url_for('uploaded_file', filename=s['imagepath']) }}"
            alt="Critter Image" class="critter-profile-img">
        {% endif %}
    </div>

    <div class="critter-info-right">
        <h3 class="critter-maker">For <a href="{{url_for('critter_page', cid=s['cid'])}}">{{s['name']}}</a>, By <a href="{{url_for('user_profile', uid=s['uid'])}}">{{s['username']}}</a></h4>
        <p class="critter-maker">
            <h4>{{ s['created'] }} | Likes: {{s['like_count']}}</h4>
        </p>

        <p class="critter-description">
            {{ s['story'] }}
        </p>
        
    </div>
</section>
<br>

{% endfor %}
</div>

{% endblock %}