{% extends "base.html" %}

{% block main_content %}
<h1>Write the critter's story!</h1>

<form method=post action="">
    <fieldset>
        <legend>Story Upload</legend>
        <table>
            <tr><td><label for="critter-story">Story:</label></td>
                <td><input id="critter-story" type="text" name="critter-story"
                    placeholder="It was a dark and stormy night..."></td></tr>
        </table>
    </fieldset>
    <p> <input type='submit' value='Upload Story'> </p>
</form>

{% endblock %}
