<!-- (CritterCave) -->
<!-- Displays the results of a user's seach for another user -->

{% extends "base.html" %}   

{% block head_stuff %}
<title>Search Results</title>
{% endblock %}

{% block main_content %}      

<div class="topsection" id="first_main">
    <div class="sort-search">
        <form class="search" method="GET" action="{{ url_for('sort_user_results', query=query) }}">
            <label>sort by:
                <select required name="value">
                    <option value="name">creator name</option>
                    <option value="username">creator username</option>
                    <option value="created">date created</option>
                    <option value="critter_count">critter count</option>
                </select>
            </label>
            <select required name="sort">
                <option value="ascending">ascending</option>
                <option value="descending">descending</option>
            </select>
            <input type="submit" value="apply">
        </form>
    </div>
</div>

<div class="critter-page">
{% for u in users %}

<!-- User Header Card -->
<section class="critter-header-card">

    <div class="critter-info-left">
        {% if u['profilepic'] %}
        <img src="{{ url_for('uploaded_file', filename=u['profilepic']) }}"
            alt="Critter Image" class="critter-profile-img">
        {% endif %}
    </div>

    <div class="critter-info-right">
        <h4 class="critter-name">
            <a href="{{url_for('user_profile', uid=u['uid'])}}">{{u['name']}}</a>
        </h4>

        <p class="critter-maker">
            <h4>{{u['created']}} | @{{u['username']}}</h4>
            <h4>Critters: {{u['critter_count']}}</h4>
        </p>
    </div>
</section>
<br>

{% endfor %}
</div>

{% endblock %}