<!-- (CritterCave) -->
<!-- Base HTML template -->

<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
</head>
<body>
    <nav>
        <ul>
        <li><a href="{{url_for('index')}}"><</a></li>
    </nav>

    <h1>Welcome to Critter Cave!</h1>
    <nav>
        <ul>
        <li><a href="{{url_for('signin')}}">Sign In</a></li>
        <li><a href="{{url_for('signup')}}">Sign Up</a></li>
        </ul>
    </nav>
</body>
</html>
